.backtop {
	position: fixed;
	bottom: 6em;
	right: 20em;
	text-decoration: none;
	color: hsl(0, 0%, 0%);
	background-color: hsla(0, 0%, 95%, 0.9);
	font-size: 12px;
	padding: 1em;
	opacity: 0;
	transition: 500ms opacity ease;
	transform: translateY(-50%);
}
.backtop:hover {	
	background-color: hsl(0, 0%, 62%);
	opacity: 1;
}
.btn_position{
	bottom: 8em;
	right: 15em;
}	
.show{
	opacity: 0.6;
    transition: 500ms opacity ease;
	transform: translateY(0);
}